// @Last modified time: 2018-04-21T02:23:08+07:00

anchor,
[anchor] {
  padding: 0.2em 0.5em;
  border: 1px solid gray;
  .anchor-type {
    text-transform: capitalize;
  }
  .anchor {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
