// @Last modified time: 2018-04-10T18:52:41+07:00

//@import "node_modules/bootstrap/scss/bootstrap";
//@import "./bootstrap.min.scss";
@import './overlay.scss';
@import './files.scss';
@import './chooser.scss';
@import './qrcode.scss';
@import './anchor.scss';
@import './report.scss';


html, body {
  height: 100%;
}

html, ui-view {
  font-size: small;
}

body {
  padding: 0.5em;
}

.disable-selection {
  user-select: none;
}

@media screen and (min-width: 640px) {
  html, ui-view {
    font-size: medium;
  }
  ui-view {
  }
}
