// @Last modified time: 2018-04-20T21:10:12+07:00

.report-wrapper {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 1em;
    display: flex;
    align-items: center;
//    justify-content: center;
  //  flex-flow: column;


 hr {
   display: flex;
 }

  hr.proof-info:before {
    position:relative;
    content: "Hashed Text";
    margin-top: -1em;
    padding-right: 0.5em;
    background-color: white;
    font-variant: small-caps;
    font-style: italic;
    font-size: small;
  }

  .report {

    background-color: transparent;

    max-width: 1024px;
    margin: auto;
    min-width: 256px;

    .status {
      font-weight: bold;
      margin-bottom: 1.5em;
    }

    .hash {
      font-family: monospace;
      font-variant: all-small-caps;
    }

    .file {
      background-color: white;
      margin-bottom: 1em;
      box-shadow: 0.2em 0.2em 0.2em;

      .details {

        hr {
          position: flex;
        }

        p, span {
          overflow: hidden;
          text-overflow: ellipsis;

        }

        ul {
          // bullets are not drawn when using li { overflow: hidden }
          // and we replace them with FontAwesome fa-circle and fa-circle-o
          // but just in case they are drawn, set list-style-type to none
          list-style-type: none;

          padding-left: 1em;

          li:before {
            content:'';
            font-family: FontAwesome;
            font-size: 0.5em;
            vertical-align: 25%;
          }
        }

        li {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        border: 1px solid gray;
        padding: 1em;
        > ul > li {
          margin-top: 1em;
        }

        ul.operations {
          font-family: monospace;
          font-variant: all-small-caps;
          margin-top: 0.5em;
          padding: 0 1em;
          li:before {
            content:'';
          }

        }

        ul.anchors {
          padding: 0;
          li {
            margin-top: 0.5em;
            display: block;
          }
          li:before {
            content:'';
          }

        }
      }

    }

  }

}
