<div ng-cloak class="report-wrapper">
  <div class="report">
    <div class="file" ng-repeat="file in $stateParams.files">
      <div class="details" ng-if="file.proof && !file.proof.validated">
        <p class="status">The file "{{::file.name}}" could not be validated.</p>
      </div>
      <div class="details" ng-if="file.proof && file.proof.validated">
        <p class="status">The file "{{::file.name}}" looks genuine.</p>
        <hr />
        <div>The following facts have been established conclusively:</div>
        <ul>
          <li>
            <span>The file hash match the {{::file.proof.hashType}} hash stored in the proof ({{::file.proof.hash}})</span>
          </li>
          <li ng-if="file.proof.operations.length">
            <span>The Merkle root ({{::file.proof.root}}) has been recomputed sucessfuly from the file hash after the following operation<span ng-if="file.proof.operations.length>1">s</span>:</span>
            <ul class="operations">
              <li ng-repeat="operation in file.proof.operations">
                <span ng-repeat="(key, value) in operation">{{key}}: {{value}}</span>
              </li>
            </ul>
          </li>
          <li ng-if="file.proof.operations.length">
            <span>The Merkle root has been retrieved sucessfuly in the transaction<span ng-if="file.proof.anchors.length>1">s</span> mentioned in the proof:</span>
            <ul class="anchors">
              <li class="anchor" ng-repeat="anchor in file.proof.anchors">
                <div anchor="anchor"></div>
              </li>
            </ul>
          </li>
          <li ng-if="!file.proof.operations.length">
            <span>The file hash has been retrieved successfuly in the transaction<span ng-if="file.proof.anchors.length>1">s</span> mentioned in the proof:</span>
            <ul class="anchors">
              <li class="anchor" ng-repeat="anchor in file.proof.anchors">
                <div anchor="anchor"></div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
