// @Author: guest
// @Date:   2018-02-14T12:38:47+01:00
// @Last modified by:   guest
// @Last modified time: 2018-02-14T15:50:40+01:00

#chooser {

  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row {
    margin-bottom: 13px;
    border-spacing: 10px;

    [class*="col-"] {
      background-color: white;
      vertical-align: top;
      position: relative;
      border: 1px solid black;
      border-radius: 5px;
      padding-top: 10px;
      padding-bottom: 50px;
      margin: 10px;
      p {
        text-align: justify;
      }
      .button-wrapper {
        position: absolute;
        bottom: 13px;
        left: 0px;
        text-align: center;
        width: 100%;

        .btn {
          position: relative;
        }
      }

    }

  }

  @media only screen and (min-width : 768px) {
    .row {
      [class*="col-"] {
      	width: 50%;
      }
    }
  }
}
