// @Author: guest
// @Date:   2018-01-28T00:16:21+01:00
// @Last modified by:   guest
// @Last modified time: 2018-02-04T11:09:21+01:00

#merkle-files {
  .text-center {
    text-align: center;
  }

  width: 100%;
  height: 100%;
  position: absolute;

  margin: -1em;  // because of border
  padding: 2em;

  > .row {
    position: relative;
    overflow: auto;
    width: 100%;

    .table-wrapper {
      width: 100%;
      margin: 3em;

      table {
        th {
          .hash {
            text-align: center;
            width: 100%;
          }
        }

        td.hash {
          font-family: monospace;
        }

        td img {
          float: right;
          width: 2em;
        }

        td {
          vertical-align: middle;
        }

      }
    }

  }

.pagination {
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pager li,
.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #fff;
  background-color: #3a3f44;
  border: 1px solid rgba(0,0,0,.6);
  margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #fff;
  background-color: transparent;
  border-color: rgba(0,0,0,.6);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  background-color: #232628;
  border-color: rgba(0,0,0,.6);
  cursor: default;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #7a8288;
  background-color: #777;
  border-color: rgba(0,0,0,.6);
  cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.badge,
.label {
  text-align: center;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}


  .duplicate {
    text-decoration: line-through;
  }

}

#merkle-files.filesDrop .dashes {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  border: dashed 0.5em #DDD;
  pointer-events: none;
}

#merkle-files.filesDrop.filesDrop--dragover .dashes {
   border: dashed 0.5em red;
}
