// @Author: guest
// @Date:   2018-01-28T00:21:03+01:00
// @Last modified by:   guest
// @Last modified time: 2018-02-14T15:46:47+01:00

//@import "node_modules/bootstrap/scss/bootstrap";
//@import "./bootstrap.min.scss";
@import './overlay.scss';
@import './files.scss';
@import './chooser.scss';

html, body {
  height: 100%;
}

body {
  padding: 0.5em;
}
