// @Author: guest
// @Date:   2018-02-14T23:23:24+01:00
// @Last modified by:   guest
// @Last modified time: 2018-03-05T04:52:27+01:00

#qrcode {
  #qr-canvas {
    display: none;
  }
}

.scanning, .transparent {
  background: none transparent !important;
}

.hidden {
  visibility: hidden;
}

video {
  opacity: 1;
  background-color: black;
}
