// @Last modified time: 2018-03-25T02:13:32+07:00

#qrcode {
  #qr-canvas {
    display: none;
  }
}

.scanning, .transparent {
  background: none transparent !important;
}

.hidden {
  visibility: hidden;
}

video {
  opacity: 1;
  background-color: black;
}
