<div id="chooser">
  <div ng-if="$state.current.name=='chooser'" class="container">
    <div class="row">
      <div class="col-md">
        <p>
          Compute a Merkle tree for the files you select, anchor the Merkle root on the blockchain
          then download Merkle proofs and the blockchain recept as a json file archive.
        </p>
        <div class="button-wrapper">
          <div type="button" class="btn btn-s btn-primary" ng-click="$state.transitionTo('anchor')">
            <i class="fa fa-link"></i> Anchor
          </div>
        </div>
      </div>
      <div class="col-md">
        <p>Assistant for document authenticity validation process.</p>
        <div class="button-wrapper">
          <div type="button" class="btn btn-s btn-primary" ng-click="$state.transitionTo('validate')" >
            <i class="fa fa-cogs"></i> Validate
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="$state.current.name=='validate'" class="container">
    <div class="row">
      <div class="col-md">
        <p>
          Select a file with a self-contained proof, or file plus the associated proof file.
        </p>
        <div class="button-wrapper">
          <div type="button" class="btn btn-s btn-primary" ng-click="$state.transitionTo('validateFile')">
            <i class="fa fa-folder"></i> Browse
          </div>
        </div>
      </div>
      <div class="col-md">
        <p>Validate a document from a QRCode.</p>
        <div class="button-wrapper">
          <div type="button" class="btn btn-s btn-primary" ng-click="$state.transitionTo('validateQRCode')" >
            <i class="fa fa-camera"></i> Scan QRCode
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
