<div id="qrcode">
  <!--video id="qrvideo"></video>
  <div type="button" ng-click="scan()"><i class="fa-camera"></i>Scan</div-->
  <button ng-click="start()" ng-hide="cameraRequested || url">Activate scanner</button>
  <p ng-show="cameraRequested">Your browser should ask for permission to use the camera.</p>
  <div>
    <bc-qr-reader active="cameraRequested" on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn" width="400px" height="400px"></bc-qr-reader>
  </div>
  <p ng-show="url">QR code detected!</p>
  <p><b>{{ url }}</b></p>
</div>
